<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="nombres">Nombres</label>
        <input
          type="text"
          class="form-control"
          id="nombres"
          required
          [(ngModel)]="cliente.nombres"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="nombres">Apellidos</label>
        <input
          class="form-control"
          id="apellidos"
          required
          [(ngModel)]="cliente.apellidos"
          name="apellidos"
        />
      </div>


      <div class="form-group">
        <label for="nro_documento">Nro Documento</label>
        <input
          class="form-control"
          id="nro_documento"
          required
          [(ngModel)]="cliente.nro_documento"
          name="nro_documento"
        />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          class="form-control"
          id="email"
          required
          [(ngModel)]="cliente.email"
          name="email"
        />
      </div>
     
      <button (click)="saveCliente()" class="btn btn-success">Grabar</button>
    </div>

    <div *ngIf="submitted">
      <h4>Cliente registrado correctamente!</h4>
      <button class="btn btn-success" (click)="newCliente()">Agregar</button>
    </div>
  </div>
</div>
