<div class="list row">
 
  <div class="col-md-6">
    <h4>Listado de Clientes</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let cliente of clientes; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveCliente(cliente, i)"
      >
        {{ cliente.nombres }}
      </li>
    </ul>
 
  </div>
  <div class="col-md-6">
    <app-cliente-details
      [viewMode]="true"
      [currentCliente]="currentCliente"
    ></app-cliente-details>
  </div>
</div>
